body {
  margin: 0;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.header-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 30%;
}

.group-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.group-list-item {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.group-list-item img {
  max-width: 40%;
  margin-right: 10px;
}

.text-content {
  flex-grow: 1;
}

.group-link-on-group-page {
  color: teal;
  cursor: pointer;
}

.event-link-on-group-page {
  color: grey;
  cursor: pointer;
  margin-right: 20px;
}
