.container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.header-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 30%;
}

.event-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.event-list-item {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  align-items: center;
}

.event-list-item img {
  max-width: 40%;
  margin-right: 10px;
}

.event-list-item .text-content {
  /* width: 70%; */
}

.event-link-on-event-page {
  text-decoration: underline;
  cursor: pointer;
  color: teal;
  margin-right: 20px;
}

.group-link-on-event-page{
  color: grey
}
