.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.navigation-button {
  cursor: default;
  margin-right: 10px; 
}

.navigation-button:hover {
  cursor: pointer;
}
